* {
    box-sizing: border-box;
}

body {
    background-color: darkgrey;
}

p   {
    padding: 15px;
}

.p-right {
    padding-top: 9px;
}

button  {
    padding: 5px 10x 0 10px;
    border-radius: 5px;
}

.title {
    font-size: 18px;
    padding: 10px 10px 0 10px;
}

.body-container {
    width: 70%;
    margin: 0 auto;
}

.timeline   {
    background-color: white;
    height: 200px;
    width: 410px;
    margin: 0;
    position: relative;
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
    border-radius:  5px;
}

h2  {
    padding: 0;
    margin: 0;
    font-size: 16px;
}



.date   {
    background-color: #ff1c50;
    color: white;
    margin: 0px;
    padding: 0;
    width: 100px;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: bolder;
}

.card-img {
    height: 100px;
    width: 100%;
    background-image: url(https://placekitten.com/200/300);
}

.date-right {
    background-color: #ff1c50;
    color: white;
    margin: 0px;
    padding: 0;
    width: 100px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    font-weight: bolder;

}

.float-right  {
    float: right;
}

.title-right {
    position: absolute;
    top: 90px;
    left: 0;
}

.right::after  {
    content: '';
    width: 0;
    height: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    position: absolute;
    left: -2%;
    top: 12%;
}

.left::before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 0px 18px 15px;
    border-color: transparent transparent transparent white;


    position: absolute;
    top: 12%;
    right: -2%;
}
.clearfix {
    clear: both;
}

.margin-top {
    margin-top: 100px;
}

.right-border {
    height: 200px;
    width: 300px;
    position: relative;
}

.right-border::before   {
    content: '';
    height: 198%;
    border: solid 2px #006693;
    position: absolute;
    right: -65%;
    top: 0;
}

/*.left-border::after {*/
    /*content: '';*/
    /*height: 100%;*/
    /*border: solid 2px #006693;*/
    /*position: absolute;*/
    /*left: -56px;*/
    /*top: 0;*/
/*}*/

.btn-more {
    background-color: #006693;
    color: #ffffff;
}